*{
    margin: 0;
    padding:0%;
}

header{
    background-color: #ff0080;
    height: 50px;
    margin-top: 0%;
}

body{
    background-color:mistyrose;
}

section{
    margin-top: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(189, 12, 100);
}